@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Manrope', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --res: calc(0.1 * 1vmin);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #ffffff;
  height: 100vh;
  background-image: url(./bg.svg);
  box-shadow: rgb(255 255 255 / 25%) 0px -1px 1px inset;
}

.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5vmin;
    height: 20%;
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
    width: 100%;
    height: 100px;
    position: absolute;
    align-items: center;
    padding: 1em 2em;
    top: 0;
}

.header img{
    width: 5rem;
}


.main button{
    background: transparent;
    outline: none;
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.597);
    padding: 15px 40px;
    font-size: 1.3rem;
    border-radius: 0.6rem;
    cursor: pointer;
}


.main p{
    font-size: 0.9rem;
}

.main .op{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}